<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>发布-SingerPigMan</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
	<script src="/js/jquery-3.3.1.min.js" type="application/javascript"></script>
	<script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{nav::nav}"></div>
	<div class="container-fluid" style="margin-right:75px;margin-left:75px;margin-bottom:75px">
	  	<div class="row">
	  		<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
	  			<h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
	  			<hr>
	  			<form action="/publish" method="post">
	  			<input type="hidden" name="id" th:value="${id}">
	  				  <div class="form-group">
					    <label for="title">问题标题</label>
					    <input th:value="${title}" type="text" class="form-control" id="title" name="title" placeholder="问题标题">
					  </div>
					  <div class="form-group">
					    <label for="description">问题补充</label>
					    <textarea th:text="${description}" class="form-control" id="description" name="description" rows="30" cols="10" placeholder="问题补充"></textarea>
					  </div>
					  <div class="form-group">
					    <label for="tag">添加标签:</label>
					    <input th:value="${tag}" class="form-control" type="text" id="tag" name="tag" placeholder="输入标签，逗号分隔"></input>
					  </div >
					 
						<div class="container-fluid main">
						<div class="row" >
						<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<button  type="submit" class="btn btn-success btn-publish">发布</button>
						</div>
						<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
								<div  class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"  th:if="${error!=null}"  th:text="${error}"></div>
						
						</div>
						
						
						
						</div>
						</div>
						
	  			</form>
	  		</div>
	  		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
	  			<h3>问题发起指南</h3>
	  				<p>*问题标题：请使用精简语言描述问题，不超过25个字</p><br>
	  				<p>*问题补充：请详细补充您的问题内容，并确保描述清晰直观，并提供相关资料<p><br>
	  				<p>*选择标签：选择一个或多个合适的标签，用逗号隔开，每个标签不超过十个字<p><br>
	  		</div>
  		</div>
	</div>
</body>
</html>